#main .block-headline {
  @apply absolute italic;
  color: #009cde;
  font-family: "WhyteItalic", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: clamp(4em, 15vw, 13em);
  line-height: 0;
  text-shadow: 1px 1px white, -1px -1px white;
  max-width: 100%;
  overflow-x: clip;
  padding: 0 10px 0 10px;
}

@supports (-webkit-text-stroke: 3px #009cde) {
  #main .block-headline {
    color: transparent;
    -webkit-text-stroke: 3px #009cde;
    text-shadow: none;
  }
}

.block-black {
  @apply bg-black text-white;
}

.big-text-block {
  @apply max-w-screen-2xl mx-auto relative py-6 my-24 text-8xl uppercase;
}

.big-text-block strong {
  @apply relative;
  font-weight: normal;
}

.big-text-block strong::after {
  @apply absolute left-0 right-0 bottom-2 h-8 bg-steellightgreen;
  z-index: -5;
  content: "";
}
