.hyperlink-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/files/steelers/layout/card-bg.png");
}

.frontpage-5050 .hyperlink-card {
  width: 90%;
  height: 18rem;
}

@media (min-width: 1024px) {
  .frontpage-5050 .hyperlink-card {
    width: clamp(20rem, 40rem, 46vw);
    height: 18rem;
  }
}
