@font-face {
  font-family: 'Whyte';
  src: url('/files/steelers/fonts/WhyteInktrap-Super.otf') format('truetype');
}

@font-face {
  font-family: 'WhyteItalic';
  src: url('/files/steelers/fonts/WhyteInktrap-SuperItalic.otf') format('truetype');
}

body,
html {
  @apply bg-steelwhite;
}

.btn-default {
  @apply bg-steellightgreen text-black font-bold py-2 px-4 relative;
  z-index: 0;
}

.btn-default::before {
  z-index: -5;
  content: '';
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 4px;
  border: 1px solid white;
  width: 100%;
  height: 100%;
}

.btn-default::after {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/files/steelers/layout/btn-arrow.svg");
  width: 42px;
  height: 21px;
  position: relative;
  top: 4px;
  left: 4px;
}
