@font-face {
  font-family: "WhyteReg";
  font-weight: 400;
  font-display: swap;
  src: url("/files/steelers/fonts/ABCWhyte-Regular.woff2") format("woff2"),
    url("/files/steelers/fonts/ABCWhyte-Regular.woff") format("woff");
}

@font-face {
  font-family: "WhyteReg";
  font-weight: 700;
  font-display: swap;
  src: url("/files/steelers/fonts/ABCWhyte-Bold.woff2") format("woff2"),
    url("/files/steelers/fonts/ABCWhyte-Bold.woff") format("woff");
}

@font-face {
  font-family: "Whyte";
  font-display: swap;
  src: url("/files/steelers/fonts/ABCWhyteInktrap-Super.woff2") format("woff2"),
    url("/files/steelers/fonts/ABCWhyteInktrap-Super.woff") format("woff");
}
@font-face {
  font-family: "WhyteItalic";
  font-style: italic;
  font-display: swap;
  src: url("/files/steelers/fonts/ABCWhyteInktrap-SuperItalic.woff2")
      format("woff2"),
    url("/files/steelers/fonts/ABCWhyteInktrap-SuperItalic.woff") format("woff");
}

body,
html {
  @apply bg-steelwhite;
}

.btn-default {
  @apply bg-steelgreen text-white py-2 px-4 relative transition-all scale-100 inline-block uppercase shadow-none;
  letter-spacing: 0.15rem;
}

.btn-default:hover {
  @apply scale-105 shadow-lg;
}

.btn-default::after {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/files/steelers/layout/btn-arrow.svg");
  width: 42px;
  height: 21px;
  position: relative;
  top: 4px;
  left: 4px;
}

.link-default::after {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/files/steelers/layout/btn-arrow-black.svg");
  width: 42px;
  height: 21px;
  position: relative;
  top: 4px;
  left: 4px;
}

.layout--no-header #header {
  display: none;
}
.layout--no-header #container {
  padding-top: 0 !important;
}

*::selection {
  @apply bg-steelgreen text-white;
}

.link-text--big {
  @apply inline-block text-steelblue uppercase underline p-4 m-2 text-xl;
}
span.link-text--big {
  @apply no-underline;
}

h4 {
  @apply text-steelgreen font-bold text-5xl uppercase font-headline my-3 mt-28;
}

a.email {
  @apply text-steelblue underline;
}

.defaultcontainer {
  @apply max-w-screen-2xl mx-auto relative my-20 px-2 lg:px-3;
}

li:nth-child(0) {
  --nth-child: 0;
}

li:nth-child(1) {
  --nth-child: 1;
}

li:nth-child(2) {
  --nth-child: 2;
}

li:nth-child(3) {
  --nth-child: 3;
}

li:nth-child(4) {
  --nth-child: 4;
}

li:nth-child(5) {
  --nth-child: 5;
}

li:nth-child(6) {
  --nth-child: 6;
}

li:nth-child(7) {
  --nth-child: 7;
}

li:nth-child(8) {
  --nth-child: 8;
}

li:nth-child(9) {
  --nth-child: 9;
}

li:nth-child(10) {
  --nth-child: 10;
}

li:nth-child(11) {
  --nth-child: 11;
}

li:nth-child(12) {
  --nth-child: 12;
}

li:nth-child(13) {
  --nth-child: 13;
}

li:nth-child(14) {
  --nth-child: 14;
}

li:nth-child(15) {
  --nth-child: 15;
}

li:nth-child(16) {
  --nth-child: 16;
}

li:nth-child(17) {
  --nth-child: 17;
}

li:nth-child(18) {
  --nth-child: 18;
}

li:nth-child(19) {
  --nth-child: 19;
}

li:nth-child(20) {
  --nth-child: 20;
}

li:nth-child(21) {
  --nth-child: 21;
}

li:nth-child(22) {
  --nth-child: 22;
}

li:nth-child(23) {
  --nth-child: 23;
}

li:nth-child(24) {
  --nth-child: 24;
}

li:nth-child(25) {
  --nth-child: 25;
}

li:nth-child(26) {
  --nth-child: 26;
}

li:nth-child(27) {
  --nth-child: 27;
}

li:nth-child(28) {
  --nth-child: 28;
}

li:nth-child(29) {
  --nth-child: 29;
}

li:nth-child(30) {
  --nth-child: 30;
}
