@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Whyte';
  src: url('/files/steelers/fonts/WhyteInktrap-Super.otf') format('truetype');
}
@font-face {
  font-family: 'WhyteItalic';
  src: url('/files/steelers/fonts/WhyteInktrap-SuperItalic.otf') format('truetype');
}

body, html {
  @apply bg-steelwhite;
}

nav .grid-nav {
  grid-template-columns: 2fr 1fr 2fr;
}

.sticky #top-sticky-nav {
  position: fixed;
  top: 0;
  width: 100%
}
#top-sticky-nav {
  position: relative;
  overflow-x: clip;
}

#top-sticky-nav::before {
  @apply bg-steellightgreen transition-opacity;
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 75px;
  left: var(--mouse-x);
  transform: skewX(20deg) translateX(-50%);
}
#top-sticky-nav:hover::before {
  opacity: 0.3;
}
#top-sticky-nav li {
  font-family: 'Whyte', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#top-sticky-nav li > * {
  @apply px-3 py-1;
  border-bottom: 5px solid transparent;
}

#top-sticky-nav li.active > * {
  border-bottom: 5px solid #fff;
}

.header-nav-logo {
 @apply bottom-1 w-52 transition-all;
}

.sticky .header-nav-logo {
 @apply bottom-1 transition-all;
 width: 86px;
}

.header-nav-logo .starcolor {
  @apply fill-steelgreen;
}
.sticky .header-nav-logo .starcolor {
  @apply fill-white;
}

.btn-default {
  @apply bg-steellightgreen text-black font-bold py-2 px-4 relative;
  z-index: 0;
}
.btn-default::before {
  z-index: -5;
  content: '';
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 4px;
  border: 1px solid white;
  width: 100%;
  height: 100%;
}

.btn-default::after {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/files/steelers/layout/btn-arrow.svg");
  width: 42px;
  height: 21px;
  position: relative;
  top: 4px;
  left: 4px;
}

#main h2 {
  @apply absolute italic;
  color: #009cde;
  font-family: 'WhyteItalic', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 14em;
  line-height: 0;
  text-shadow: 1px 1px white, -1px -1px white;
}

@supports(-webkit-text-stroke: 3px #009cde) {
  #main h2 {
    color: transparent;
    -webkit-text-stroke: 3px #009cde;
    text-shadow: none;
  }
}
