nav .grid-nav {
  grid-template-columns: 2fr 0 2fr;
}

.sticky .top-sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.top-sticky-nav {
  position: relative;
  z-index: 80;
  overflow-x: clip;
}

.top-sticky-nav::before {
  @apply bg-steellightgreen transition-opacity;
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 75px;
  left: var(--mouse-x);
  transform: skewX(12deg) translateX(-50%);
}

.top-sticky-nav:hover::before {
  opacity: 0.3;
}

.top-sticky-nav li {
  @apply uppercase text-lg relative;
  font-family: "Whyte", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.top-sticky-nav .level_1 > li > strong,
.top-sticky-nav .level_1 > li > a {
  @apply px-2 py-1 whitespace-nowrap;
  border-bottom: 5px solid transparent;
}

.main_submenu {
  @apply transition-opacity duration-300 opacity-0 pointer-events-none flex absolute top-7 py-3 bg-[#11b55c] right-0 text-white gap-2 flex-col justify-items-center justify-around isolate;
}
.main_submenu > li {
  @apply whitespace-nowrap;
}

.top-sticky-nav li.active > a::after,
.main_submenu li.active > a::after,
.top-sticky-nav li.trail > a::after,
.top-sticky-nav li.active > strong::after,
.main_submenu li.active > strong::after,
.top-sticky-nav li.trail > strong::after {
  @apply absolute left-0 right-0 bottom-0 h-3 bg-steelblue;
  z-index: -5;
  content: "";
}

.header-nav-logo {
  @apply transition-all bottom-1;
  width: 86px;
}

.header-nav-logo .puckcolor,
.header-nav-logo .starcolor {
  @apply fill-white;
}

@media (min-width: 768px) {
  .header-nav-logo {
    bottom: 4.5rem;
  }
  .header-nav-logo .puckcolor,
  .header-nav-logo .starcolor {
    @apply fill-steelgreen;
  }
}

@media (min-width: 1024px) {
  .nav-meta-links {
    @apply hidden;
  }
  .header-nav-logo {
    bottom: 0.4rem;
    width: 200px;
    opacity: 1;
  }

  nav .grid-nav {
    grid-template-columns: 2fr 1fr 2fr;
  }

  .header-nav-logo .starcolor {
    @apply fill-steelgreen;
  }
  .sticky .header-nav-logo .starcolor {
    @apply fill-white;
  }

  .header-nav-logo .puckcolor {
    @apply fill-white;
  }

  .sticky .header-nav-logo {
    bottom: 0.35rem;
    width: 110px;
    opacity: 1;
  }
}

@media (min-width: 1280px) {
  .top-sticky-nav li {
    @apply uppercase text-2xl;
  }

  .top-sticky-nav li > * {
    @apply px-3;
  }
}

/* Main menu positionning */
.main-nav {
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
}

.main-nav .header-nav-logo {
  @apply absolute top-0 opacity-0;
  transition: all 250ms 50ms;
  width: 35vw;
  left: 5vw;
}

.main-nav.is-open .header-nav-logo {
  @apply opacity-100;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
  @apply bg-steelgreen;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav > ul {
  transition: all 200ms 0ms;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  transform: translateX(-35%) skew(-14deg);
}
.main-nav > ul.subItemIsOpen {
  transform: translateX(-55%) skew(-14deg);
}
.main-nav > ul.level_2 {
  @apply pointer-events-none;
  transition: all 200ms 0ms;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  right: -100vw;
  transform: translateX(-35%) skew(-14deg);
}
.main-nav > ul.level_2.openSubItem {
  right: 0vw;
  transform: translateX(-15%) skew(-14deg);
}

.main-nav > ul > li {
  font-family: "Whyte", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  display: block;
  margin: 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav > ul > li > a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open > ul > li a {
  opacity: 1;
  transform: translateY(0);
}

.main-nav > ul > li > a {
  transition: all 200ms calc(var(--nth-child) * 20ms);
}

/* Decoration */
.main-nav > ul,
.main-nav > ul > li {
  list-style: none;
  padding: 0;
}

.main-nav > ul > li > a,
.main-nav > ul > li > span {
  display: block;
  padding: 8px 0;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
}

/* test */
.main-nav > ul.subItemIsOpen > li > a,
.main-nav > ul.subItemIsOpen > li > span {
  @apply text-gray-300 opacity-50;
}
.main-nav > ul.subItemIsOpen > li > a.activeSub,
.main-nav > ul.subItemIsOpen > li > span.activeSub {
  @apply text-white opacity-100;
}

.main-nav > ul.level_2 > li > a,
.main-nav > ul.level_2 > li > span {
  @apply pointer-events-auto;
  font-size: 1em;
  font-weight: bold;
}

.main-nav ul li.active > a::after,
.main-nav ul li.trail > a::after {
  @apply absolute left-0 right-0 bottom-4 h-4 bg-steelblue;
  z-index: -5;
  content: "";
}

@media only screen and (orientation: landscape) {
  .main-nav > ul > li {
    margin: 0.1rem 0;
  }
  .main-nav > ul > li > a,
  .main-nav > ul > li > span {
    padding: 2px 0;
  }
  .main-nav > ul {
    transform: translateX(-20%) skew(-14deg);
  }
  .main-nav > ul > li.active > a::after,
  .main-nav > ul > li.trail > a::after {
    @apply absolute left-0 right-0 bottom-2 h-3 bg-steelblue;
    z-index: -5;
    content: "";
  }
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
  position: absolute;
  top: 15px;
  padding-top: 15px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}

.open-main-nav:focus {
  outline: none;
}

.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #fff;
  transform: skew(5deg);
  transition: all 0.275s;
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  background: #fff;
  transition: all 0.275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */

.burger-text {
  @apply transition-opacity;
  display: block;
  font-size: 0.675rem;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #fff;
  opacity: 1;
}

.is-open .burger-text {
  opacity: 0;
}
