{% extends '@Contao/fe_page' %}


{% block head %}
  {{ parent() }}
  {{ theme_link_tags('app') }}
  {{ theme_script_tags('app') }}
{% endblock %}

{% block main %}
  <h1>Hello from scbb!</h1>
  {{ parent() }}
{% endblock %}
